.productPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    width: 100%;
    max-width: 70vw;
}
.productContainer {
    border-radius: 0% !important;
    margin-top: 20px;
}
.productImage {
    border-radius: 0% !important;
    position: relative;
}
.productFeatureContainer {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
}
.productFeature {
    font-size: 0.7rem !important;
    margin: 0 !important;
}
.productButtonContainer {
    position: absolute;
    margin-top: 315px;
    margin-left: 10px;
}
.productButton {
    border-radius: 0% !important;
    background-color: black !important;
    font-size: 0.8rem !important;
    border: none !important;
}
.productCardBody {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.productCardPrice {
    margin: 0 !important;
    font-weight: bold;
    font-size: 1.2rem;
}
.productCardText {
    font-size: 0.9rem;
    margin: 0 !important;
    padding-left: 10px;
}
.seeAllOffers {
    background-color: transparent;
    margin: 5px 5px 20px 5px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px !important;
}
.productPageText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
