@import "../../styles/mixins";

.contentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-wrap: wrap;
}
.contactBox {
    position: absolute;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include md {
        flex-direction: row;
    }
}
.envelope {
    color: white;
    margin-right: 10px;
}
.copyrightColor {
    color: #fff;
    margin: 0px;
    font-size: small;
}
.partnetsContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-items: center;
    @include md {
        flex-direction: row;
        width: 400px;
        align-items: flex-end;
    }
}
.footerLogoContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    @include md {
        width: 400px;
    }
}
.contactRoot {
    width: 100vw;
    display: flex;
    flex-direction: column;
    @include md {
        width: 400px;
    }
}
.footerContactInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
        flex-direction: row;
    }
}
.footerHr {
    color: #fff;
    margin: 0px 10px 0px 10px;
    display: none !important;
    @include md {
        display: flex !important;
    }
}
.partnersGaggenau {
    width: 100px;
    height: 30px;
    margin: 0;

    @include md {
        margin-right: 20px;
    }
}
